
  html *
    {
       font-size: 1em;
       color:white;
       font-family: "HelveticaNeue-Light";
    }

 body { 
    background-color:black;
    padding: 25px; 
    margin: 0;
   } 

  li {  padding: 2px; }

#top {
  text-align:center;
  position: relative;
  width: 99%;
  outline: 1px solid white;
  outline-color: white;
  background-color:black;
  color:white;

}
#links {
    width:25%;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    margin: 15px;
    position:relative;
    right:25%;
    left:50%;
    /*margin-left:-125px;*/
    margin-left: -155px;
}
.ui {
    /*outline: 1px solid white;*/
    background-color: black;
    color: white;
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 15px;
    position:relative;
    right:25%;
    left:50%;
    margin-left:-150px;
}
/*img {
  position: absolute;
  left:125px;
  top: 75px;
  height: 100px;
  margin: auto;
}*/

video {
  width: 80%;
  height: 50%;
}
h1 {
  font-size:3em; 
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 50px;
  margin: auto;
  color: #f00;
  font-size: 30pt;
  text-align: justify;

}

 /* Mobile Styles */
@media only screen and (max-width: 400px) {
    img {
    position: absolute;
    top:7%;
    left:7%;
    width: 45px;
    height: 45px;
  }

}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  img {
    position: absolute;
    top:7%;
    left:7%;
    width: 75px;
    height: 75px;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    img {
    position: absolute;
    left:7%;
    top: 7%;
    width: 100px;
    height: 100px;
    margin: auto;
  }
}
  
 